body{
    background-color:cornsilk
}
div{
    float: left;
    width: 22% ;
    border :solid turquoise 2px;
    min-height: 600px;
    background-color: #fbfbfb;
    margin-left: 25px;
    
}

div img{
    width: 100%;
    
}

div h3{
    color:cornflowerblue;
    padding: 20px;

}

div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 24px;
    padding: 15px;
}