body{
    font-size: 14px;
    background-color: var(--color-bg-canvas);
}

.wrapper{
    max-width: 310px;
    width: 100%;
    height: auto;
    margin:40px auto
}

.logo{
    width: 48px;
    height: 48px;
    margin: 0 auto 25px;
}

.title {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.form{
    margin-left: 500px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #d8dee2;
    width:335px ;
    height: 200px;
    padding: 20px;
    border-radius: 6px;
}

.input{
    margin-bottom: 15px;
    position: relative;
}
.input label{
    font-weight: 400;
    margin-bottom: 7px;
    color: #24292e;

}

.input input{

    width: 98%;
    background: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    color: #24292e;
    font-size: 16px;
    padding: 7px 8px;
    line-height: 20px;
    min-height: 25px;
}

.form .sign_button{
    margin-top: 10px;
    background: #28a745;
    border: 1px solid;
    width: 100%;
    padding: 6px 12px;
    border-radius: 2px;

}

.newuser{
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 40px;
    width: 335px;
    margin-left: 500px;
    height: 35 px;
}