body{
    background-color:#f0f2f5;
}

h1{
    color:#1877f2;
    text-align: center;
    
}

#hone{
    color:hsl(233°, 82%, 56%);
    /* hsl(hue(0-360) saturation(0%-100%) lightness(0%-100%)) */
}

.btn{
    width: 80px;
    height: 40px;
    background-color:#5e068a ;
    color: white;

}

/* css selectors : tag selector,id selector(#),class selector(.) */
